$wooclap-blue: #146aff;
$footer-height: 45px;
$tablet: 768pc;
$medium: 900px;

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: gray;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  box-sizing: border-box;
}
div,
span {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: unset;
}

.App {
  background-color: #f8f9fa;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.left-col {
  height: 100%;
  width: 85%;
}

.Slide {
  & > div {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  form {
    width: 100%;
    flex-grow: 1;
    textarea {
      height: 100%;
      resize: none;
      border: .5px solid lightgray;
      padding: 10px;
      box-sizing: border-box;
      width: 100%;
      color: lightgray;
    }
  }
  height: calc(100% - $footer-height);
  background-color: #f8f9fa;
  display: inline-block;
  width: 85%;
  padding-top: 5px;
  .currentslide-wrap{
    border: 0.5px solid lightgray;
    border-radius: 5px;
    height: calc(100% - 150px);
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    margin: 10px;
    img {
      object-fit: contain;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
 
}
.slide-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  margin: 5px 0;
  gap: 40px;
  height: 40px;
  .currentslide-index {
    color: $wooclap-blue;
  }
}
.Footer {
  height: $footer-height;
  width: 100%;
  border-top: 0.5px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
}
.SlideList {
  width: 15%;
  display: inline-block;
  max-height: calc(100% - $footer-height);
  overflow-y: scroll;
  vertical-align: top;
  padding: 5px 0;
  border-left: 0.5px solid lightgray;
  img {
    border-radius: 2px;
    border: 0.5px solid lightgray;
  }
  ul {
    padding-right: 5px;
  }
  a {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    span {
      display: inline-block;
      margin-top: 5px;
    }
    .imglist-wrap {
      padding-right: 15px;
    }
    .imglist-index {
      padding-left: 20px;
      padding-right: 10px;
      font-size: 0.8rem;
      font-weight: bold;
      color: gray;
    }
  }
  .selected-slide {
    position: relative;
    img {
      border: 1px solid $wooclap-blue;
    }
    &::after {
      background-color: $wooclap-blue;
      position: absolute;
      left: 0;
      right: 0;
      content: "";
      width: 100%;
      height: 100%;
      opacity: 0.1;
    }
  }
}
.SideBar {
  width: 15%;
  display: inline-block;
  background-color: #ffffff;
  height: 100vh;
  overflow-y: scroll;
  box-shadow: 0 2px 4px #0000001f, 0 2px 4px #00000066;
  min-width: 250px;
  & > div {
    button {
      max-width: 50%;
      text-transform: none;
      font-weight: 700;
      flex-grow: 1;
      &:first-child {
        border-right: 1px solid lightgray;
      }
      svg {
        width: 0.7em;
        height: 0.7em;
      }
    }
  }
}
.question-container {
  & > div {
    padding: 0;
  }
}
.question {
  border-bottom: 1px solid lightgrey;
  padding: 10px 0;
  display: block;

  span,
  svg {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
  }
  span {
    font-size: 0.8rem;
    font-weight: 300;
  }
}
.fileselect {
  border: 1px solid lightgrey;
  padding: 5px;
  &::before {
    content: none !important;
  }
}
